# Data Science Tools and Ecosystem

#### This notebook provides an overview of the essential tools and ecosystem within the realm of data science.

__Objectives:__
- List popular languages used in Data Science
- List commonly used libararies used in Data Science
- List popular open source development environments utilized in Data Science
- Cover few example evaluating basic arithmetic expressions in Python

##### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

##### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Seaborn
4. TensorFlow

|Data Science Tools|
|-------------------|
|Jupyter Notebooks|
|RStudio|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This a simple arithmetic expression to mutiply then add integers
M = (3*4)+5
print(M)

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
H = 200/60
print(H)

3.3333333333333335

## Author
Hartejh Surikapuram